body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.859); /* Black overlay with 50% opacity */
}

.coming-soon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.marquee {
    width: 100%;
    background-color: red;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: flex;
    animation: marquee 10s linear infinite;
}

.marquee-content span {
    display: inline-block;
    font-family: fantasy;
    font-size: 74px;
    color: white;
    padding: 0 1em; /* Adjust padding for closer text */
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .marquee-content span {
        font-size: 48px; /* Adjust font size for tablets */
        padding: 0 0.5em; /* Adjust padding for closer text */
    }
}

@media (max-width: 480px) {
    .marquee-content span {
        font-size: 36px; /* Adjust font size for mobile phones */
        padding: 0 0.3em; /* Adjust padding for closer text */
    }
}
